.App {
  display: grid;
}

.App-sparkleWrapper,
.App-content {
  grid-area: 1/1;
}

.App-sparkleWrapper {
  position: relative;
  overflow: hidden;
}

.App-sparkleOne,
.App-sparkleTwo,
.App-sparkleThree {
  position: absolute;
  transform: translate(-50%, -50%);
}

.App-sparkleOne {
  top: calc(28% - min(25%, calc(1080px / 2)));
  left: calc(60% - min(50%, calc((100vw - 40px) / 2)));
}

@media screen and (min-width: 768px) {
  .App-sparkleOne {
    top: calc(28% - min(25%, calc(1080px / 2)));
    left: calc(60% - min(50%, calc((100vw - 40px) / 2)));
  }
}

.App-sparkleTwo {
  top: calc(32% - min(25%, calc(1080px / 2)));
  right: calc(20% - min(50%, calc((100vw - 40px) / 2)));
}

@media screen and (min-width: 768px) {
  .App-sparkleTwo {
    top: calc(25% - min(10%, calc(1080px / 2)));
    right: calc(60% - min(50%, calc((100vw - 40px) / 2)));
  }
}

.App-sparkleThree {
  top: calc(65% - min(25%, calc(1080px / 2)));
  right: calc(40% - min(50%, calc((100vw - 40px) / 2)));
}

@media screen and (min-width: 768px) {
  .App-sparkleThree {
    top: calc(70% - min(25%, calc(1080px / 2)));
    right: calc(80% - min(50%, calc((100vw - 40px) / 2)));
  }
}

.App-description {
  padding: 50px 0;
}